[submodule "pack/vendor/start/nerdtree"]
        path = pack/vendor/start/nerdtree
        url = https://github.com/scrooloose/nerdtree.git

[submodule "bundle/nerdtree-git-plugin"]
        path = bundle/nerdtree-git-plugin
        url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/themes/start/dracula"]
	path = pack/themes/start/dracula
	url = https://github.com/dracula/vim.git

