[submodule "pack/vendor/start/nerdtree"]
        path = pack/vendor/start/nerdtree
        url = https://github.com/scrooloose/nerdtree.git

[submodule "pack/themes/opt/dracula"]
	path = pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git

[submodule "pack/mbbill/start/undotree"]
	path = pack/mbbill/start/undotree
	url = https://github.com/mbbill/undotree.git
